---
import CustomTItle from "../components/CustomTItle.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About Page">
    <h1>About</h1>

    <CustomTItle title="This is a custom title">
        <style>
            h1 {
                color: red;
            }
        </style>
    </CustomTItle>
</MainLayout>
